@import "tailwindcss";

@theme {
  --color-flexigo-primary: #0A192F;
  --color-flexigo-teal: #0F766E;
  --color-flexigo-accent: #00FF88;
  --color-flexigo-bg: #F8FAFC;
  --color-flexigo-dark: #020617;
  
  --font-heading: "Outfit", sans-serif;
  --font-body: "Inter", sans-serif;
}

@layer base {
  html.lenis, html.lenis body {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
  
  body {
    @apply bg-flexigo-bg text-flexigo-dark font-body antialiased;
  }
  
  .dark body {
    @apply bg-flexigo-dark text-flexigo-bg;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading tracking-tight;
  }
}